  name: Post to a Slack channel
  on:
    push:
      branches:
        - main
  jobs:
    post-slack:
      runs-on: ubuntu-latest
      steps:
        - name: Send Slack notification
          uses: slackapi/slack-github-action@v1.24.0
          with:
            channel-id: '#sdk-notifications'
            payload: |
              {
                "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
                "blocks": [
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                    }
                  }
                ]
              }
          env:
            SLACK_WEBHOOK: ${{ secrets.SLACK_BOT_TOKEN }}
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
